---

---

<div class="theme-toggle inline-flex items-center">
  <button
    id="theme-light"
    class="theme-btn p-1 px-2 text-sm text-gray-500 dark:text-gray-400 hover:scale-[1.005] active:scale-100"
    aria-label="Light theme"
  >
    Light
  </button>
  <button
    id="theme-system"
    class="theme-btn p-1 px-2 text-sm text-gray-500 dark:text-gray-400 hover:scale-[1.005] active:scale-100"
    aria-label="System theme"
  >
    System
  </button>
  <button
    id="theme-dark"
    class="theme-btn p-1 px-2 text-sm text-gray-500 dark:text-gray-400 hover:scale-[1.005] active:scale-100"
    aria-label="Dark theme"
  >
    Dark
  </button>
</div>

<script>
  // Apply the current theme
  const applyTheme = (theme: string, buttons: Array<HTMLElement | null>) => {
    // Update button styles to show active state
    for (const btn of buttons) {
      if (btn?.id === `theme-${theme}`) btn.classList.add("font-semibold");
      else btn?.classList.remove("font-semibold");
    }

    // Save the theme preference
    console.log("applyTheme", theme);
    if (theme === "system") localStorage.removeItem("theme");
    else localStorage.theme = theme;
    window.dispatchEvent(new Event("storage"));
  };

  // Check for saved theme preference or default to system
  const getThemePreference = () => {
    return localStorage.getItem("theme") || "system";
  };

  document.addEventListener("astro:page-load", () => {
    const themeLight = document.getElementById("theme-light");
    const themeSystem = document.getElementById("theme-system");
    const themeDark = document.getElementById("theme-dark");
    const buttons = [themeLight, themeSystem, themeDark];

    // Set up event listeners for theme buttons
    themeLight?.addEventListener("click", () => applyTheme("light", buttons));
    themeSystem?.addEventListener("click", () => applyTheme("system", buttons));
    themeDark?.addEventListener("click", () => applyTheme("dark", buttons));

    // Set up listener for system theme changes
    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", () => {
        if (getThemePreference() === "system") {
          applyTheme("system", buttons);
        }
      });

    applyTheme(getThemePreference(), buttons);
  });
</script>
